.root {
    height: calc(100vh - 230px);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.root .container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stockForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#stockForm input, select {
    width: 400px;
}

#stockForm button {
    width: 100%;
}


.import-section {
    border-top: 1px solid #ececec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-section {
    flex: 1;
    padding: 20px 30px;
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: calc(100vh - 270px);
}

#serviceForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 490px;
}   

#serviceForm #addImpressionTypeBtn, #serviceForm #addFormatBtn  {
    background-color: #575858;
    padding: 5px 10px;
}

#papersContainer > div, #impressionTypeContainer > div, #formatsContainer > div {
    margin-top: 10px;
}

#serviceForm button[type="submit"] {
    margin-top: 20px;
}
#serviceForm button[type="button"] {
    background-color: #575858;
    color: white;
}

.impressionTypeName, .formatName {
    flex: 1;
}
