.main-content {
    padding: 20px;
}

.filter-options #minPrice, #maxPrice, #minStock, #maxStock, #soldOrder {
    width: 100px !important;
}

#editServiceModal h3 {
    margin: 0;
}

#editServiceForm {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#editServiceForm .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button#cancelEditService {
    background-color:#575858;
    color: white;
}

#editRessourcesList {
    margin-bottom: 20px;
}

#addEditRessource {
    background-color: #575858;
    padding: 5px 10px;
}

#editServiceForm button[type="button"] {
    background-color: #575858;
    color: white;
}

#editServiceFormSimple .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#serviceForm label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#serviceForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button#cancelAddService {
    background-color: #f2f2f2;
    color: gray;
    padding: 8px 20px;
}
#serviceForm .select2.select2-container {
    width: 100% !important;
}

#serviceForm .select2-selection--single {
    height: 36px;
    border-radius: 6px;
    border: 1px solid #e2e2e2;
}

#serviceForm .select2-selection__rendered {
    line-height: 34px;
}

#serviceForm .select2-selection__arrow {
    height: 34px;
}
