.main-content {
    padding: 20px;
}

.date-selector {
      width: 300px;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #e2e2e2;
      font-family: 'Matter';
      font-size: 13px;
    }
    
    #ordersTable {
      width: 100%;
    }
    
    #ordersTable th, #ordersTable td {
      text-align: left;
      padding: 12px 15px;
    }
    
    #ordersTable tfoot {
      background-color: #f8f9fa;
      font-weight: bold;
    }
    
    .edit-btn, .delete-btn {
      padding: 5px 10px;
      margin: 0 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background: none;
    }
    
    #orderDateTitle {
      margin: 0;
    }