.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

#error {
    color: red;
    text-align: center;
    margin-top: 10px;
}