
.select2-container {
    width: 200px !important;
}

.root {
    height: calc(100vh - 110px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.root .container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.root .container .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 20px 30px 60px 30px;
    border-radius: 20px;
    gap: 30px;
}

.import-section {
    border-top: 1px solid #ececec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-details > * {
  width: 180px;
  box-sizing: border-box;
}

.item-details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Item Form */

#itemForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#serviceSaleForm .select2.select2-container, #itemForm .select2.select2-container {
    width: 100% !important;
}

#serviceSaleForm .select2-selection.select2-selection--single, #itemForm .select2-selection.select2-selection--single {
    height: 40px;
}

#serviceSaleForm .select2-selection__rendered, #itemForm .select2-selection__rendered {
    line-height: 38px;
}

#serviceSaleForm .select2-selection__arrow, #itemForm .select2-selection__arrow {
    height: 38px;
}

#serviceSaleForm .select2-selection--single, #itemForm .select2-selection--single {
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

#serviceSaleForm{
    width: 800px;
    display: flex;
    flex-direction: column;
}

#serviceSaleForm .form-group-01 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#serviceSaleForm .form-group-01 select {
    width: 100%;
}

#serviceSaleForm .form-group-02 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#serviceSaleForm .form-group-02 > * {
    flex: 1;
}