/* ICI UI 2.0 */

.root-v2 {
    display: flex;
    height: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}

.nav-actions {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#download-db {
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

.main-content {
    width: 100%;
    display: flex;
    padding: 10px !important;
    flex-direction: column;
    justify-content: space-around;
    max-height: calc(100vh);
    overflow-y: auto;
}

.main-content .titre .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.import-section {
    border-top: 1px solid #ececec;
    padding-top: 20px;
}

.select2-results__options {
    max-height: 560px !important;
    overflow-y: auto;
}